@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
body {
  margin: 0;
  line-height: normal;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1365px;
  height: 200px;
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 78px;
  left: 230px;
  width: 215px;
  height: 74px;
}
.rectangle-button:active {
  animation: 1s ease 0s infinite normal none scale-down-center;
  opacity: 1;
}
.rectangle-div1,
.rectangle-div2 {
  position: absolute;
  top: 79px;
  left: 575px;
  background-color: var(--color-gray-300);
  width: 215px;
  height: 74px;
}
.rectangle-div2 {
  left: 920px;
  background-color: var(--color-gray-200);
}
.coming-div {
  left: 268px;
}
.coming-div,
.direct-div1,
.past-div {
  position: absolute;
  top: 92px;
  display: inline-block;
}
.direct-div1 {
  left: 613px;
  color: var(--color-white);
}
.past-div {
  left: 971px;
}
.navbar-div {
  position: absolute;
  top: 0;
  left: 615px;
  width: 1365px;
  height: 200px;
}
.matches-div,
.rectangle-div3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 615px;
  height: 1980px;
}
.matches-div {
  background-color: var(--color-gray-300);
  backdrop-filter: blur(4px);
  width: 400px;
  height: 118.42px;
}
.matches-div1,
.matches-div2 {
  position: absolute;
  display: inline-block;
  height: 56.84px;
}
.matches-div1 {
  top: 33.16px;
  left: 133.75px;
  color: var(--color-white);
  width: 203.75px;
}
.matches-div2 {
  top: 196.58px;
  left: 135px;
  width: 202.5px;
}
.rectangle-icon,
.scores-div {
  position: absolute;
  top: 165.79px;
  left: 0;
  width: 400px;
  height: 118.42px;
}
.scores-div {
  top: 200.13px;
  left: 135px;
  display: inline-block;
  width: 163.75px;
  height: 56.84px;
}
.rectangle-div4 {
  position: absolute;
  top: 331.58px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 400px;
  height: 118.42px;
}
.rankings-div {
  position: absolute;
  top: 360px;
  left: 133.75px;
  display: inline-block;
  width: 201.25px;
  height: 56.84px;
}
.vector-icon {
  position: absolute;
  height: 13.16%;
  width: 15.6%;
  top: 6.84%;
  right: 69.71%;
  bottom: 80%;
  left: 14.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.square-poll-horizontal-solid-1-icon,
.trophy-solid-1-icon {
  position: absolute;
  top: 196.58px;
  left: 58.75px;
  width: 62.5px;
  height: 59.21px;
  overflow: hidden;
}
.trophy-solid-1-icon {
  top: 360px;
}
.fifa-world-cup-qatar-2022-1,
.side-div {
  position: absolute;
  top: 590px;
  left: 107px;
  width: 400px;
  height: 450px;
}
.fifa-world-cup-qatar-2022-1 {
  top: 92px;
  left: 122px;
  height: 400px;
  overflow: hidden;
}
.fifa-world-cup-qatar-20229564-div {
  position: absolute;
  top: 117px;
  left: 105px;
  width: 402px;
  height: 432px;
}
.rectangle-div5,
.sidebar-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 615px;
  height: 1980px;
}
.rectangle-div5 {
  top: 391px;
  left: 960px;
  background-color: var(--color-gray-300);
  width: 675px;
  height: 245px;
}
.t171329z-496098007-up1eic116w9-icon {
  position: absolute;
  top: 662px;
  left: 845px;
  width: 905px;
  height: 722px;
  object-fit: cover;
}
.direct-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1980px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
